.Header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-content: center;
  border-bottom: 1px solid #e2e2e2;
}

.Header > div {
  display: flex;
}

.Header button {
  font-family: 'Jua';
}

.Header .header_center {
  width: 50%;
  font-size: 22px;
  justify-content: center;
}

.Header .header_left {
  width: 40%;
  justify-content: start;
}

.Header .header_right {
  width: 40%;
  justify-content: end;
}
